body{
    text-align:center;
    margin-left: 30%;
    margin-top: 20%;
    background-image: linear-gradient(rgb(green,green));
}
div{
    border: 3px  solid blue;
    border-radius: 20px;
    width :45%;
    height:100px;
    background-image: linear-gradient(grey,rgb(226, 39, 179));
}
label{
    margin-bottom: 30px;
    padding: 30%;
}

